@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	font-family: Roboto;
	color: #283542;
}

.navbar {
	position: fixed;
	width: 100%;
}

.header {
	background: rgba(255, 255, 255, 0.91);
	border-bottom: 2px solid #f1baf95c;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.footer{
	height: 90px;
	padding: 10px 10px 0px;
	background: #f3c5c56b;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo-add{
	margin-right: 19px;
	margin-top: 1px;
}

.recent-recipe-icon {
	cursor: pointer;
	position: relative;
}


.recent-recipe-none {
	display: none;
}

.recent-recipe-active {
	display: block;
}

.filters{
	display: flex;
	justify-content: center;
	align-items: center;
	width:fit-content;
	height: fit-content;
	background: #f8e6ff;
	border-top: 1px solid grey;
}

.header-category{
	margin-top: 8px;
	height: max-content;
}

.tag{
	margin-right:10px;
}

.tags .tag{
	background: center;
	font-size: 11px;
}

.category-title{
	display:flex;
	align-items:center;
	justify-content: center;
}
.category-title h2{
	color: brown;
	font-size: 17px;
	font-weight:700;
}

.category-check{
	display:none;
}

.logo-name {
	color: black;
	margin-left: 5px;
	font-size: 32px;
	font-style: italic;
}

.mt-95 {
	margin-top: 95px;
}


.card-list {
	margin-top: 22px;
	width: 400px;
	height: fit-content;
}

.card-list .card-content {
	padding-top: 12px;
}

.card-content hr{
	background-color: #ff5a5a1a;
	border: none;
	display: block;
	height: 1px;
	margin: 10px 0;
}

.detail-card .card-content{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: flex-start;
	background: #faecff;
	padding-bottom: 0;
}
.detail-ingredient{
	padding: 20px 29px 12px 11px;
	background: #ebfffd;
	margin: 0;
}

.detail-card thead{
	background: #001b9c8c;
}

.detail-card thead th{
	color:white;
}

.detail-card .card-footer{
	border-bottom: 1px solid #f8000029;
}

.detail-card .card-content .content{
	width: fit-content;
	padding: 25px;
	margin-bottom: 0px;
}

.detail-card .content-header .title{
	color: #980000;
}

.detail-card .card-content .media .image{
	margin: 0px;
}
.detail-card .card-content .media a{
	color: brown;
}

.color-1{
	background: #ff00001f;
}

.color-2{
	background: #7189ff1f;
}

.color-3{
	background: #ff00bc1f;
}

.card-image .image img{
	height: 227px;
}

.card-footer{
	background: #ffe2b838;
	color: chocolate;
}
.card-footer a{
	color: chocolate;
}

.card-image {
	border-bottom: solid 2px #eea0ff8a;
}

.header-one {
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-two {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.search-form {
	position: relative;
	display: flex;
	border-radius: 5px;
	border: 1px solid #283542;
	width: 50%;
	align-items: center;
	justify-content: flex-start;
}

.search-form-image {
	position: absolute;
	height: 20px;
	width: 20px;
	left: 270px;
}


.logo-link {
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	padding: 2px;
	border-radius: 5px;
	text-decoration: none;
	color: #283542;
}

.logo-container img {
	height: 60px;
	width: 60px;
}

.logo-container span {
	font-size: 40px;
	margin-left: 4px;
}

.search-container {
	display: flex;
	width: 500px;
	padding-left: 40px;
	padding-right: 40px;
}

.search-input {
	outline: none;
	border: 1px solid #eab8f1;
	height: 30px;
	border-radius: 5px;
	width: 70%;
	padding-left: 10px;
	font-size: 14px;
}

a.dropdown-item {
	width: 100%;
}

.profile-icon{
	margin-right:20px;
	cursor: pointer;
}

.profile {
	background: rgba(254, 238, 255, 0.85);
}

.hr-profile {
	margin: 0 0 10px;
	background: #c3c3c3;
}

.profile-details{
	display: flex;
	flex-direction: column;
}

.profile-button-edit{
	padding: 0;
	background: #dbffc1;
	height: auto;
}
.profile-button-delete{
	padding: 0;
	background: #ff8a8a;
	height: auto;
}

.profile-header{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 6px;
}

.profile-detail-info {
	display: flex;
	flex-wrap: wrap
}
.profile-detail-info p {
	width: 170px;
	margin-right: 10px;
}

.profile-img {
	width: fit-content;
	padding: 0px 1px 1px;
	background: #ffd9ff;
}

.your-recipe {
	display: flex;
	justify-content: center;
}

.your-recipe p{
	font-size: 24px;
	display: flex;
	width: 700px;
	height: 44px;
	background: #a300ff40;
	justify-content: center;
	border-radius: 5px;
	align-items: center;
}

.search-form {
	border: none;
	outline: none;
	width: 100%;
}

.section {
	background: #3347ce2e;
	min-height: calc(100vh - 90px);
}

.not-found-block{
	background:#ffffff38;
	border-radius: 14px;
	display:flex;
	width:500px;
	height:300px;
	margin-top:70px;
	padding: 15px;
	justify-content: center;
	align-items: center;
}

.not-found-block figcaption{
	text-align: center;
	font-weight: 700;
	color: #020202;
	font-size: 25px;
}

.image .not-found{
	width:250px;
	height: 250px;
}

.button-header {
	margin-right: 7px;
	font-weight: 700;
	height: 40px;
	text-align: center;
	color: white;
	text-decoration: none;
	padding: .8em 1em calc(.8em + 3px);
	border-radius: 3px;
	background: rgb(64, 199, 129);
	transition: 0.2s;
}

.button-header:hover {
	background: rgb(53, 167, 110);
}

.button-header:active {
	background: rgb(33, 147, 90);
	box-shadow: 0 3px rgb(33, 147, 90) inset;
}

.button-register {
	color: #fff;
	background: rgba(239, 187, 126, 0.8);
}

.profile-image {
	height: 40px;
	margin-right: 20px;
	margin-left: 10px;
}

.button-header-two {
	display: flex;
	align-items: center;
}

.button-delete {
	background: indianred;
}

.card-lists .column{
	padding: 0;
}

/*----------------------------------*/

.card-lists{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 25px;
}

.label-filter{
	margin-right:11px;
}

.filter .columns{
	padding: 0px;
	background: #ffeee0;
	border-radius: 16px;
}

.search-container{
	margin-left: 112px;
}

.header-filter {
	height: 70px;
	background: #f8e6ff;
	border-top: 1px solid grey;
}

.collection-filter {
	margin-left: 10px;
	display: flex;
}

.header-tag {
	margin-right: 10px;
	color: black;
}

/* detail recipe */

.detail-card {
	margin-top: 30px;
}

.media-content-detail-page {
	margin-top: 18px;
}

.detail-main-name-block {
	justify-content: space-between;
}

.detail-edit-href {
	margin-right: 30px;
}

.header-filter {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	height: fit-content;
	width: fit-content;
	background: white;
}

.tags {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: flex-start;
	margin-top: 10px;
}

.detail-card .tags{
	display: flex;
	flex-direction: row;
}

.detail-instruction-image {
	margin-left: 50px;
	align-self: center;
}

.is-detail-instruction-block {
	align-items: center;
	justify-content: space-around;
}

.detail-instruction-box {
	margin-left: 40px;
	width: 900px;
}

#detail-instruction-box {
	margin-top: 0;
	padding: 10px;
}

.instructions{
	padding-top: 40px;
	padding-bottom: 40px;
	background: #ebfffd;
}

/* swiper */

.swiper{
	width: 70%;
	align-self: center;
}

.swiper-wrapper{
	position: relative;
	width: 100%;
	height: 292px;
	z-index: 1;
	display: flex;
	transition-property: transform;
	box-sizing: content-box;
}

.swiper-slide {
	text-align: center;
	font-size: 24px;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #faecff;
}

.swiper-slide a{
	background: #faecff;
}

.swiper-slide img {
	width: 90%;
	object-fit: contain;
}

.swiper-button-next, .swiper-rtl .swiper-button-prev {
	right: 0 !important;
	left: auto;
	padding: 10px 2px 10px 10px;
	border: 10px;
	background: #3d3f4441;
	color: #c41230c0 !important;
}

.swiper-button-prev, .swiper-rtl .swiper-button-next {
	left: 0 !important;
	right: auto;
	padding: 10px 10px 10px 2px;
	background: #3d3f4441;
	color: #c41230c0 !important;
}

.swiper-button-next:hover,
.swiper-rtl .swiper-button-prev:hover,
.swiper-button-prev:hover,
.swiper-rtl .swiper-button-next:hover {
	background: #3d3f4480;
	color: #c41230 !important;
}

.swiper-button-disabled {
	display: none;
}

/* create-page */

.create-page-main-label {
	text-align: center;
	margin-bottom: 20px;
}

.create-header{
	background: #1e00c99e;
	color: #f7def2;
	padding: 6px;
	font-size: 20px;
	border-radius: 10px 10px 0px 0px;
	font-weight: 600;
}

.is-danger-image-recipe-form {
	color: red;
}

.is-danger-tag-recipe {
	background: #f8b1b1;
}

.add-form-recipe-name {
	margin-top: 20px;
	justify-content: center;
}

.add-form-recipe-name-input {
	outline: none;
	text-align: center;
	width: 40%;
	font-weight: bolder;
}

.add-form-recipe-info-block {
	margin-top: 35px;
	justify-content: space-evenly;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

.add-recipe-info-block-input {
	width: 150px;
}

.add-form-recipe-image-buttons {
	justify-content: center;
	align-items: center;
}

.image-button {
	margin-right: 5px;
}

.add-recipe-info-block-time {
	width: 52%;
	margin-left: 40px;
}

.create-page-label-tag {
	text-align: center;
	padding-bottom: 8px;
}

.add-form-recipe-tag-block {
	flex-direction: column;
	align-items: center;
}

.add-recipe-control-tags {
	flex-wrap: wrap;
	justify-content: center;
}

.add-recipe-tags-select {
	margin-bottom: 20px;
	margin-right: 20px;
}

.is-add-form-buttons {
	margin-top: 16px;
}

.add-recipe-instruction {
	width: 50%;
}

.add-recipe-instruction-textarea {
	align-items: center;
	width: 800px;
}

.add-recipe-desc {
	margin: auto;
	width: 70%;
}

.add-recipe-textarea-input {
	width: 500px;
}

.add-form-recipe-main-image {
	justify-content: center;
	margin-right: 10px;
	flex-wrap: wrap;
}

.create-page-main-label-image {
	margin-right: 10px;
}

.comment-section{
	margin-top: 29px;
	background: #fff9ee;
	border-radius: 5px;
	box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
	color: #4a4a4a;
	padding-bottom: 10px;
}

.comment-section h2{
	font-size: 24px;
	background: #c6ccffe3;
	padding-top: 5px;
	padding-left: 10px;
	border-radius: 4px;
}

.comments{
	padding-top: 10px;
	padding-left: 10px;
	margin-bottom: 16px;
	max-height: 300px;
	overflow-y: auto;
}

.comment-section hr{
	padding-left: 10px;
	margin: 0px;
	background: #6f00ffa8;
}

.add-comment{
	padding-left: 10px;
}

.comment-form{
	width:70%;
	display: flex;
	flex-direction: row;
}

.comment-form .textarea{
	min-height: 83px;
	font-size: 15px;
}

.comment-form-image{
	width: 38px;
	height: 38px;
	margin-left: 8px;
	margin-top: 53px;
}

.comment-card{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-bottom: 15px;
}

.comment-title{
	flex:1;
}

.comments .media {
	width: 145px;
}
.error-edit-recipe {
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
}


/* users-page */

.users-subs-icon {
	align-items: center;
}
.users-subs-text {
	text-decoration: none;
	color: #000;
}

.users-subs-text-check {
	margin-left: 5px;
	margin-right: 20px;
}

.image-profile-box {
	display: flex;
	justify-content: center;
	align-items: center;
}

#image-box {
	width: auto;
}

/* search-user */

.box-search-user {
	margin-top: 20px;
}

#box-search-user {
	padding: 25px;
}

.input-search-user {
	width: 450px;
	margin-right: 10px;
}

.search-users-find-label {
	font-size: 20px;
	justify-content: center;
}

.button-user-search {
	width: 120px;
}

.box-user-search {
	width: 80%;
}
#box-user-search-list {
	padding: 10px;
	margin-top: 5px;
}

#box-subs-list {
	padding: 10px;
	margin-top: 5px;
}

.like{
	background: transparent;
	width: 54px;
	height: 54px;
	background-size: 54px 54px;
	background-image: url(/local/templates/cake/images/like.png);
	border: none;
	align-self: flex-start;
}

.like-active{
	background-image: url(/local/templates/cake/images/like-is-active.png);
}

.content-header {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	flex-wrap: nowrap;
	justify-content: space-between;;
}

.content-header .title{
	max-width: 300px;
	font-size: 30px;
}

.notification{
	margin-top: 28px;
}

.box{
	margin-top: 60px;
	padding: 0;
	border-radius: 10px;
}

.instruct{
	display: flex;
	justify-content: center;
	padding-bottom:10px;
}

.step-head{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.input-login-field{
	margin-top:0;
}

.box-reg{
	padding:20px;
}

.box-profile-edit{
	padding:20px;
}

.profile-link {
	background: #1e00c99e;
	color: #f7def2;
	padding: 10px;
	padding-right:20px;
	margin: -20px -20px 20px;
	font-size: 20px;
	border-radius: 10px 10px 0px 0px;

}
.profile-link a {
	color: #f7def2;
	font-weight: 600;
}

.box-recent-recipe-header {
	position: absolute;
	right: 153px;
	top: 58px;
	margin: 0;
	background: antiquewhite;
	padding: 10px;
	font-size: 12px;
}

.box-recent-recipe-header h3{
	margin-bottom: 13px;
	color: brown;
}

.box-recent-recipe-header .box-user-search{
	margin: 0;
	width: 245px;
	word-wrap: break-word;
	font-size: 13px;
	margin-bottom:7px;
}

.label-reg-name{
	background: #1e00c99e;
	color: #f7def2;
	padding: 10px 10px 10px 20px;
	margin: -20px -20px 20px;
	font-size: 23px;
	border-radius: 10px 10px 0px 0px;

}

.is-add-form-buttons{
	border-top:2px solid rgba(98, 97, 97, 0.56);
	padding-top: 12px;
	padding-bottom:12px;
}

.notification-header button{
	width: 100%;
	border: 1px solid gray;
	color: darkorchid;
	font-weight: 700;
	background: #ffdcac;
}

.notification-image{
	background-size: 32px 32px;
	background-image: url(/local/modules/up.cake/install/templates/cake/images/notification.png);
}

.notification-image-active{
	background-size: 32px 32px;
	background-image: url(/local/modules/up.cake/install/templates/cake/images/notification-active.png);
}

.user-notification{
	margin-right: 0;
	margin-left: 3px;
}

.notification-list{
	display: flex;
	flex-direction: column;
	width: 334px;
	font-size: 14px;
	padding: 8px;
	background: #65a0ffad;
	border-top: 4px solid #7a19c8;
	border-radius: 7px 7px 0px 0px;
	max-height: 212px;
	overflow-y: auto;
}

.notification-data{
	background: white;
	padding: 5px;
	border-radius: 12px;
	color: brown;
	margin-bottom:7px;
}